.env


# Maven build output
**/target/

*.lst
*.log
*.json
opendata.swiss/archimate/odsn.archimate.bak

__pycache__/

opendata.swiss/metatadata/meta_harvester/meta_harvester/__pycache__/
opendata.swiss/metadata/piveau_catalogues
