backend:
  name: github
  repo: opendata-swiss/opendata-swiss-cms-content-test
  squash_merges: true

publish_mode: editorial_workflow

media_folder: "assets"
public_folder: "/cms"

i18n:
  structure: multiple_files
  default_locale: de
  locales: [de, fr, it, en]

collections:
  - name: handbook-section
    label: "Handbook sections"
    label_singular: Handbook section
    folder: sections
    extension: md
    widget: "list"
    create: true
    i18n: true
    fields:
      - label: Title
        name: title
        widget: string
        required: true
        i18n: true
      - name: body
        label: Body
        widget: markdown
        i18n: true

  - name: handbook
    label: "Handbook articles"
    label_singular: Handbook article
    identifier_field: id
    folder: handbook
    extension: md
    widget: "list"
    create: true
    i18n: true
    summary: "{{title}}"
    view_groups:
      - label: Section
        field: section
    path: "{{section}}/{{slug}}"
    fields:
      - label: Section
        name: section
        widget: relation
        collection: handbook-section
        search_fields: ["title"]
        value_field: title
        required: true
        i18n: duplicate
      - label: Title
        name: title
        widget: string
        required: true
        i18n: true
      - label: Breadcrumb title
        name: breadcrumb_title
        widget: string
        required: false
        i18n: true
      - label: Permalink
        name: permalink
        widget: string
        i18n: duplicate
        pattern:
          [
            "^[a-z0-9-]+(?:/[a-z0-9-]+)*$",
            "Permalink must be lowercase and can only contain letters, numbers, slashes, and hyphens.",
          ]
      - name: body
        label: Body
        widget: markdown
        i18n: true

  - name: pages
    label: "Pages"
    folder: pages
    extension: md
    widget: "list"
    create: false
    i18n: true
    fields:
      - label: Title
        name: title
        widget: string
        required: true
        i18n: true
      - label: Heading
        name: heading
        widget: string
        i18n: true
        required: false
      - label: Sub-heading
        name: subHeading
        widget: markdown
        i18n: true
      - name: body
        label: Body
        widget: markdown
        i18n: true

  - name: blog
    label: Blog
    label_singular: Blog Post
    folder: blog
    extension: md
    widget: "list"
    create: true
    i18n: true
    fields:
      - label: Title
        name: title
        widget: string
        required: true
        i18n: true
      - label: Slug
        name: slug
        widget: string
        i18n: false
        required: false
        pattern:
          [
            "^[a-z0-9-]+(?:/[a-z0-9-]+)*$",
            "Permalink must be lowercase and can only contain letters, numbers, slashes, and hyphens.",
          ]
      - label: Date
        name: date
        widget: datetime
        i18n: duplicate
        default: "{{now}}"
      - name: subHeading
        label: Subheading
        widget: markdown
        i18n: true
      - name: body
        label: Body
        widget: markdown
        i18n: true

  - name: Showcases
    label: "Showcases"
    label_singular: Showcase
    folder: showcases
    i18n: true
    extension: md
    widget: "list"
    create: true
    fields:
      - label: Active
        name: active
        widget: boolean
        default: true
        i18n: duplicate
      - label: Title
        name: title
        widget: string
        i18n: true
      - label: Image
        name: image
        widget: image
        i18n: duplicate
      - label: Website
        name: url
        widget: string
        i18n: duplicate
        required: false
      - label: Category
        name: categories
        widget: piveau-vocabulary
        multiple: true
        i18n: duplicate
        piveau:
          search: https://piveau-hub-search.test.ods.zazukoians.org/
          vocabulary: data-theme
      - label: Type of content
        name: type
        widget: piveau-vocabulary
        i18n: duplicate
        piveau:
          search: https://piveau-hub-search.test.ods.zazukoians.org/
          vocabulary: showcase-types
      - name: datasets
        label: Datasets
        widget: piveau-dataset
        multiple: true
        i18n: duplicate
        required: false
        piveau:
          search: https://piveau-hub-search.test.ods.zazukoians.org/
      - name: tags
        label: Tags
        widget: list
      - name: submittedBy
        label: Submitted by
        widget: object
        summary: '{{fields.name}}'
        required: false
        i18n: false
        fields:
          - name: name
            label: Name
            widget: string
          - name: url
            label: Url (separate multiple entries with a comma)
            widget: list
            required: false
      - name: body
        label: Body
        widget: markdown
        i18n: true
