name: "[UI] Build and push Docker image"

on:
  push:
    paths:
      - "opendata.swiss/ui/**" # Only trigger if files in the ui directory change
      - ".github/workflows/docker-ods-ui.yaml" # Trigger also if this workflow file is changed
      - ".github/workflows/previews-ods-ui.yaml" # Trigger also if the previews workflow file is changed

jobs:
  docker:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      # This allow GitHub Actions to clone the CMS repo
      - name: Generate CMS token
        id: generate_cms_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.CMS_GITHUB_APP_ID }}
          private-key: ${{ secrets.CMS_GITHUB_PRIVATE_KEY }}
          owner: zazukoians

      - name: Set CMS branch name
        shell: bash
        id: set_branch
        # TODO: set correct branch depending on the environment
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "branch=${{ github.event.inputs.pr_branch }}" >> $GITHUB_OUTPUT
          else
            echo "branch=main" >> $GITHUB_OUTPUT
          fi

      - name: Checkout CMS repository
        if: github.event.action != 'closed'
        uses: actions/checkout@v5
        with:
          repository: zazukoians/opendata-swiss-cms-content
          ref: ${{ steps.set_branch.outputs.branch }}
          path: content
          token: ${{ steps.generate_cms_token.outputs.token }}
          persist-credentials: false

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3.9.2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/opendata-swiss/ods-ui
          tags: |
            type=ref,event=branch
            type=sha
            type=raw,value={{branch}}-${{ github.run_id }}
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Docker images
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: ./opendata.swiss/ui
          file: ./opendata.swiss/ui/Dockerfile
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          platforms: |
            linux/amd64

      - name: Sign the images with GitHub OIDC Token
        env:
          DIGEST: ${{ steps.docker_build.outputs.digest }}
          TAGS: ${{ steps.docker_meta.outputs.tags }}
        run: |
          images=""
          for tag in ${TAGS}; do
            images+="${tag}@${DIGEST} "
          done
          cosign sign --yes ${images}
